extends base

block content

    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Create Password 
            form.form.form--createNewPassword

                .form__group.ma-bt-md
                    label.form__label(for='password-signup') Verification Code
                    input#verification-code.form__input(type='text', placeholder='Verification Code', required)

                .form__group.ma-bt-md
                    label.form__label(for='password-signup') Password
                    input#password-createNewPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='confirm-password-signup') Confirm Password
                    input#confirm-password-createNewPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')

                .form__group
                    button#createNewPassword.btn.btn--green.btn--long(type='submit') Create Password
            
                    a.form-link.form-link--login(href="/login") 
                        span Login