extends base

block content

    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Log into your account
            form.form.form--login
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button#login.btn.btn--green.btn--long(type='submit') Login
                    button#google-login.btn.btn--green.btn--long Google Login
            
                    a.form-link(href="/reset-password") 
                        span Forgot Password?
                    a.form-link.form-link--signup(href="/signup") New here? 
                        span Sign up.
                
                .form__group 
                    h2.heading-tertiary-login Demo-Account
                    .paragraph-login user@example.com
                    .paragraph-login test1234

    