
.navigation {

    align-self:stretch;

    &__checkbox {
        display: none;
    }

    &__button {
        // background-color: $color-white;
        height: 100%;
        width: 5.5rem;
        margin: 0 auto;
        // width: 5rem;
        // margin: auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        // display: inline-block;
        // position: relative;
        // top: 0rem;
        // right: 0rem;
        z-index: 2000;
        // box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
        transition: background-color .4s;

        @include respond(tab-port) {

            top: 4rem;
            right: 4rem;
        }

        @include respond(phone) {
            height: 5rem;
            width: 5rem;
            top: 3rem;
            right: 3rem;
        }

    }

    &__background {
        // display: none;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 2.5rem;
        right: 5.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transform: scale(0);

        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(tab-port) {

            top: 1.5rem;
            right: 3.5rem;
        }

        @include respond(phone) {
            top: 1.5rem;
            right: 2.5rem;
        }
        // transform: scale(100);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: -50%;
        right: -25%;
        z-index: 1500;
        text-align: center;
        transition: opacity 0.8s, 0.8s cubic-bezier(0.68, -0.3, 0.32, 1.25);

        width: 0;
        opacity: 0;

    }

    &__list {
        width: 100%;
        position: absolute;
        top: 100%;
        right: -26%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1.5rem;
        transform: skewX(-5deg);

    }

    &__link {

        &:link,
        &:visited{
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-grey-light;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(
                150deg, 
                #333 0%, 
                #333  50%, 
                $color-white 50%
            );
            background-size: 240%;
            transition: all .5s;
            width: 30rem;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform:  scale(1.1);
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(100);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    @include respond(phone){

        &__checkbox:not(:checked) ~ &__background {
            transition: none;
        }
    
        &__checkbox:not(:checked) ~ &__nav {
            transition: none;
        }
    }

    &__checkbox:checked + &__button {
        // background-color: #333; 
        position: sticky;
    }

    
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;

        &::before,
        &::after {
            background-color: $color-grey-dark-3;
            transition: all .4s;
            height: 3px;
        }

        &::before {
            top: 0;
            transform: rotate(135deg);
        }

        &::after {
            top: 0;
            transform: rotate(-135deg);
        }
    }


    // ICON
    &__icon {
        position: relative;
        // margin-top: 3.5rem;
        
        @include respond(phone) {
            margin-top: 2.5rem;
        }
        
        &,
        &::before,
        &::after {
            margin-block: auto;
            width: 3rem;
            height: 3px;
            background-color: $color-primary-light;
            display: inline-block;
            transition: transform .4s;

            @include respond(phone) {
               width: 2.5rem;
               height: 2px;
            }

        }

        
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: transform .2s;

        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__button:hover &__icon,
    &__button:hover &__icon::after,
    &__button:hover &__icon::before{
        background-color: $color-primary;
    }


}