*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //this define what 1 rem is.
    font-size: 62.5%;

    
    @include respond(tab-land) {  // width < 1200?
        font-size: 58.25%;  // 1rem = 9px;
    }
    
    @include respond(tab-port) { // width < 900?
        font-size: 54%;     //1 rem = 8px;
    }
    
    @include respond(big-desktop) { // width > 1800?
        font-size: 75%;   // 1rem = 12px;
    }
}

body {
    width: 100%;
    box-sizing: border-box;
    padding: 3rem;


    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

.main {

    @include respond(phone){
      padding: 4rem 2rem;
    }
}


// Extras

// 
.form-link {
    
        display: inline-block;
        // text-align: center;
        text-decoration: none;

        font-size: 1.6rem;
        color: $color-grey-dark-3;

        span {
            color: $color-primary;
            text-decoration: underline;
            margin-left: .5rem;
        }

        &--signup {
            float: right;
        }

        &--login {
            display: block;
            text-align: center;
        }
}

.login-form{
    @include respond(phone){
        max-width: 40rem;
        padding: 5rem 4rem;
    }
}